<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout">
        <environmentVariables xdt:Transform="InsertIfMissing">
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development"  xdt:Locator="Match(name)"  xdt:Transform="InsertIfMissing"/>
          <environmentVariable name="COMPLUS_ForceENC" value="1" xdt:Locator="Match(name)"  xdt:Transform="InsertIfMissing"/>
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>