name: Deploy All Demo

on:
  push:
    branches: [ "main" ]
    tags: 
      - staging.*
      
  workflow_dispatch:    
    inputs: 
      env-profile:
        required: true
        type: choice
        options:
        - Staging
        - Release
        
permissions:
  contents: read    
  
jobs:
  stop_application:
    name: Stop All IIS Sites
    uses: baufestdemos/ci_dotnet/.github/workflows/stop_iis_site.yml@feature/pipeline
    with: 
      site-name: all
      env-profile: ${{ github.event_name == 'workflow_dispatch' && inputs.env-profile || contains(github.ref, 'staging') && 'Staging' || contains(github.ref, 'main') && 'Release'}}
    secrets: inherit
    
  build_upload:
    name: Build & upload
    uses: baufestdemos/ci_dotnet/.github/workflows/build_and_upload.yml@feature/pipeline
    with: 
      env-profile: ${{ github.event_name == 'workflow_dispatch' && inputs.env-profile || contains(github.ref, 'staging') && 'Staging' || contains(github.ref, 'main') && 'Release'}}
    secrets: inherit

  code_quality:
    name: SonarQube Scan
    if: ${{ (github.event_name == 'workflow_dispatch' && inputs.env-profile == 'Release') || contains(github.ref, 'main') }}
    uses: baufestdemos/ci_dotnet/.github/workflows/sonarqube_scan.yml@feature/pipeline
    secrets: inherit
    
  deploy_database:
    needs: [stop_application, build_upload, code_quality]
    name: Deploy Database
    uses: baufestdemos/ci_dotnet/.github/workflows/partial_database.yml@feature/pipeline
    with: 
      env-profile: ${{ github.event_name == 'workflow_dispatch' && inputs.env-profile || contains(github.ref, 'staging') && 'Staging' || contains(github.ref, 'main') && 'Release'}}
    secrets: inherit
    
  deploy_api:
    needs: [stop_application, build_upload, code_quality]
    name: Deploy API
    uses: baufestdemos/ci_dotnet/.github/workflows/partial_api.yml@feature/pipeline
    with: 
      env-profile: ${{ github.event_name == 'workflow_dispatch' && inputs.env-profile || contains(github.ref, 'staging') && 'Staging' || contains(github.ref, 'main') && 'Release'}}
    secrets: inherit
    
  deploy_spa_bff:
    needs: [stop_application, build_upload, code_quality]
    name: Deploy SPA/BFF
    uses: baufestdemos/ci_dotnet/.github/workflows/partial_spabff.yml@feature/pipeline
    with: 
      env-profile: ${{github.event_name == 'workflow_dispatch' && inputs.env-profile || contains(github.ref, 'staging') && 'Staging' || contains(github.ref, 'main') && 'Release'}}
    secrets: inherit
    
  start_application:
    needs: [deploy_database, deploy_api, deploy_spa_bff, code_quality]
    name: Start All IIS Sites
    uses: baufestdemos/ci_dotnet/.github/workflows/start_iis_site.yml@feature/pipeline
    with: 
      site-name: all
      env-profile: ${{ github.event_name == 'workflow_dispatch' && inputs.env-profile || contains(github.ref, 'staging') && 'Staging' || contains(github.ref, 'main') && 'Release'}}
    secrets: inherit
    
